@import "./variables.scss";

@mixin transition {
  transition: all 0.5s ease-in-out;
}

@mixin background-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin mq($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

@mixin mqh($size) {
  @media screen and (max-height: $size) {
    @content;
  }
}

@mixin scroll-bar {
  &::-webkit-scrollbar {
    width: (7px);
    @include mq($xls) {
      display: none;
    }
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $black;
    @include mq($xls) {
      display: none;
    }
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $success;
    border-radius: 100px;
    @include mq($xls) {
      display: none;
    }
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $lucid;
    @include mq($xls) {
      display: none;
    }
  }
}

@mixin scroll-bar-hidden {
  &::-webkit-scrollbar {
    width: (10px / $divider);
    display: none;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    display: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    display: none;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    display: none;
  }
}

@function pxToVh($element) {
  @return #{($element/1080) * 100}vh;
}

@function pxToVw($element) {
  @return #{($element/1920) * 100}vw;
}

@function pxToEm($element) {
  @return #{$element/16}em;
}

@mixin formInput {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  .label {
    font-family: $poppins;
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
    color: $black;
    line-height: 1;
    @include mq($lg) {
      font-size: 0.9rem;
    }
    @include mq($md) {
      font-size: 0.8rem;
    }
  }
  .error {
    color: $error;
    font-size: 10px;
    margin-top: -10px;
    margin-left: 5%;
  }
}

@mixin ProfileImg {
  height: 60px;
  aspect-ratio: 1/1;
  width: auto;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include background-img;
  @include mq($xlg) {
    height: 55px;
  }
  @include mq($lg) {
    height: 50px;
  }
  @include mq($md) {
    height: 45px;
  }
  @include mq($xls) {
    height: 40px;
  }
}

@mixin h1 {
  font-size: pxToEm(40);
  font-family: $poppins;
  @include mq($xlg) {
    font-size: pxToEm(36);
  }
  @include mq($lg) {
    font-size: pxToEm(30);
  }
  @include mq($md) {
    font-size: pxToEm(25);
  }
  @include mq($sm) {
    font-size: pxToEm(18);
  }
}

@mixin h3 {
  font-size: pxToEm(20);
  font-family: $poppins;
  @include mq($xlg) {
    font-size: pxToEm(17);
  }
  @include mq($lg) {
    font-size: pxToEm(15);
  }
  @include mq($md) {
    font-size: pxToEm(13);
  }
  @include mq($sm) {
    font-size: pxToEm(12);
  }
}

@mixin p {
  font-size: pxToEm(16);
  font-family: $poppins;
  @include mq($xlg) {
    font-size: pxToEm(14);
  }
  @include mq($lg) {
    font-size: pxToEm(13);
  }
  @include mq($md) {
    font-size: pxToEm(12);
  }
  @include mq($sm) {
    font-size: pxToEm(10);
  }
}

@mixin p1 {
  font-size: pxToEm(13);
  font-family: $poppins;
  @include mq($xlg) {
    font-size: pxToEm(12);
  }
  @include mq($lg) {
    font-size: pxToEm(10);
  }
  @include mq($md) {
    font-size: pxToEm(9);
  }
  @include mq($sm) {
    font-size: pxToEm(8);
  }
}

@mixin bg-blur {
  background-color: $blueBoard;
  backdrop-filter: blur(34px);
  -webkit-backdrop-filter: blur(34px);
}
